/* .right  {
    background-color: aqua;
}

.left {
    background-color: blue;
} */

header {
    background: linear-gradient(rgba(55, 129, 194, 0.5), rgba(9, 229, 240, 0.5));
    
}

.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}

.forecast-image {
    width: 90px;
    height: 90px;
}

.low-uv {
    background-color: rgb(144, 238, 144);
}

.medium-uv {
    background-color: yellow;
}

.high-uv {
    background-color: red;
}